<div class="show_box">
    <div class="show_midashi">
        <div class="content_pankuzu">
            <div>パンくずリスト</div>
        </div>
        <div>
            <h2>店名店名店名店名店名店名店名店名店名</h2>
        </div>
        <hr>
    </div>

    <div class="show_images">
        <div class="show_image_main">
            <%= image_tag("/assets/item_image/2.jpg") %>
        </div>
        <div class="show_image_sub">
            <% 4.times do |i| %>
            <div>
                <%= image_tag("/assets/item_image/2.jpg") %>
            </div>
            <% end %>
        </div>
    </div>

    <hr class="cheap_beer_top">
    <div class="cheap_beer">
        <div class="cheap_beer_left">
            <div>最安ビール価格</div>
        </div>
        <div class="cheap_beer_right">
            <div class="cheap_beer_name">
                サッポロなんちゃらビール
            </div>
            <div class="cheap_beer_price">
                888円
            </div>
        </div>
    </div>
    <hr class="cheap_beer_bottom">

</div>