<div class="show_box">
    <div class="show_midashi">
        <div class="content_pankuzu">
            <div>
                <% breadcrumb :show %>
                <%= breadcrumbs separator: " &rsaquo;" %>
            </div>
        </div>
        <div>
            <h2>店名店名店名店名店名店名店名店名店名</h2>
        </div>
        <hr>
    </div>

    <div class="show_images">
        <div class="show_image_main">
            <%= image_tag("/assets/item_image/2.jpg") %>
        </div>
        <div class="show_image_sub">
            <% 4.times do |i| %>
            <div>
                <%= image_tag("/assets/item_image/2.jpg") %>
            </div>
            <% end %>
        </div>
    </div>

    <hr class="cheap_beer_top">
    <div class="cheap_beer">
        <div class="cheap_beer_left">
            <div>最安ビール価格</div>
        </div>
        <div class="cheap_beer_right">
            <div class="cheap_beer_name">
                サッポロなんちゃらビール
            </div>
            <div class="cheap_beer_price">
                888円
            </div>
        </div>
    </div>
    <hr class="cheap_beer_bottom">

    <div class="tag_area">
        <div>
            <b>このお店のお酒タグ</b>
        </div>
        <div class="tag_box"><!-- ループを回そう -->
            <span class="badge badge-info">すぷもーに</span>
            <span class="badge badge-info">しゃんでぃがふ</span>
            <span class="badge badge-info">すくりゅーどらいばー</span>
            <span class="badge badge-info">もひーと</span>
            <span class="badge badge-info">ぶらっどめありー</span>
            <span class="badge badge-info">まるがりーた</span>
            <span class="badge badge-info">ぴにゃこらーだ</span>
            <span class="badge badge-info">もすこみゅーる</span>
            <span class="badge badge-info">XYZ</span>
        </div>
    </div>
    <hr class="tag_bottom">
    <div class="beer_type">
        <div>
            ビールの種類
        </div>
        <hr>
        <div><!-- ループで回す -->
        <% 5.times do |i| %>
            <div class="beer_type_item">
                <div class="beer_name">
                    サッポロ生ビール　黒ラベル
                </div>
                <div class="beer_price">
                    300円
                </div>
            </div>
            <hr>
        <% end %>
        </div>
    </div>
    <hr class="detail_info_top">
    <div class="ditail_info">
        <div>
            <h2>店舗情報</h2>
        </div>
        <hr class="ditail_info_hr">
        <% data_type =["店名","平均価格","住所","アクセス","電話番号","営業時間"] %>
        <% 6.times do |i| %>
        <div class="ditail_info_item">
            <div class="ditail_info_type">
                <div>
                    <%= data_type[i] %>
                </div>
            </div>
            <div class="ditail_info_data">
                <div>
                    何かしらの情報！
                </div>
            </div>
        </div>
        <hr class="ditail_info_hr">
        <% end %>
    </div>

</div>