<div class="show_title">
    <h1><%= @shop.name %></h1>
</div>
<hr class="show_hr">
<div>
    <ul class="scroll_images">
    <% for i in 1..4 do %>
        <li>
            <div><%= image_tag("/assets/show_images/2/#{i}.jpg",alt:"お店画像") %></div>
        </li>
    <% end %>
    </ul>
</div>

<div class="show_contentList">
    <ul>
        <li class="show_contentList_box">
            <div class="show_contentList_box_beer">
                <div class="show_contentList_box_beer_text">ビール最安</div>
                <div class="show_contentList_box_beer_price">~300円</div>
            </div>
            <div class="show_contentList_box_info">
                <div>
                    <i class="fas fa-walking"></i><i class="show_contentList_box_info_dis">距離</i>
                </div>
                <div>
                    <i class="fas fa-utensils"></i><i class="show_contentList_box_info_ave">平均価格</i>
                </div>
            </div>
            <div>
                <i>お店説明</i>
            </div>
            <div class="show_contentList_box_items">
                <div class="show_contentList_box_items_map">
                    <i>map icon</i>
                </div>
                <div class="show_contentList_box_items_grnb">
                    <i>ぐるなび icon</i>
                </div>
            </div>
        </li>
    </ul>
</div>