<% content_for :css do %>
    <%= stylesheet_link_tag 'pc' %>
<% end %>

<div class="first_area_pc">
    <div class="top_area_image">
        <div class="top_area_text_oya_box">
            <div class="top_area_text_ko_1">
                <div class="pc_fontsize_normal">
                    八王子駅
                </div>
                <div class="pc_fontsize_small">
                    周辺
                </div>
            </div>
            <div class="pc_fontsize_small">
                で安くビールが飲めるお店
            </div>
            <div class="top_area_text_ko_2">
                <div class="pc_fontsize_largesmall">
                    最安
                </div>
                <div class="pc_fontsize_large">
                    888
                </div>
                <div class="pc_fontsize_largesmall">
                    円〜
                </div>
            </div>    
            <div class="pc_fontsize_largesmall">
                JR八王子駅から徒歩5分
            </div>
        </div>
    </div>
</div>

<div class="first_area_pc">
    <div class="content_area">
        <div class="content_pankuzu">
            <div>パンくずリスト</div>
        </div>
        <div class="content_main_items">
            <div class="content_search">
                <div class="search_midashi">
                    <div class="search_midashi_icon">
                        <span class="material-icons">
                            done
                        </span>
                    </div>
                    <div>並び順</div>
                </div>
                <div class="search_sort">
                    <form action="soushinsaki" method="post">
                        <div>
                            <input type="radio" name="sort" value="1" checked="checked">平均価格が安い順
                        </div>
                        <div>
                            <input type="radio" name="sort" value="2">駐車場が多い順
                        </div>
                        <div>
                            <input type="radio" name="sort" value="3">ビールが安い順
                        </div>
                        <div>
                            <input type="submit" value="並び替える">
                        </div>
                    </form>
                </div>
                <div class="search_midashi">
                    <div class="search_midashi_icon">
                        <span class="material-icons">
                            done
                        </span>
                    </div>
                    <div>ビール名で検索</div>
                </div>
                <div class="search_name">
                    <div class="search_name_eg">
                        例:よなよなエール 生ビール
                    </div>
                    <div class="search_name_window">
                        <form action="soushinsaki" method="post">
                            <div>
                                <input type="text">
                            </div>
                            <div>
                                <input type="submit" value="ビール名で検索">
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="content_ranking">
                <div>
                    <h2>八王子周辺でビールが安い順</h2>
                </div>
                <!-- お店情報　ここから -->
                <hr>
                <div class="ranking_box_oya">
                    <div class="ranking_box_image">
                        <%= image_tag("/assets/item_image/2.jpg") %>
                    </div>
                    <div class="ranking_item_info">
                        <div class="ranking_item_top">
                            <div>
                                <%= image_tag("/assets/icons/1.svg") %>
                            </div>
                            <div>
                                <a href="#">北の味紀行と地酒　北海道　八王子駅前店</a>
                            </div>
                        </div>
                        <div class="ranking_item_middle">
                            <div class="item_middle_dis">
                                <div class="item_dis_info">
                                    <div>
                                        <span class="material-icons">
                                            directions_walk
                                        </span>
                                    </div>
                                    <div>
                                        八王子駅徒歩〇〇分
                                    </div>
                                </div>
                                <div class="item_ave_info">
                                    <div>
                                        <span class="material-icons orange">
                                            brightness_7
                                        </span>
                                    </div>
                                    <div>
                                        1000円〜
                                    </div>
                                    <div>
                                        <span class="material-icons dimgray">
                                            brightness_2
                                        </span>
                                    </div>
                                    <div>
                                        3000円〜
                                    </div>
                                </div>
                            </div>
                            <div class="item_price_info">
                                <div>888円</div>
                            </div>
                        </div>
                        <div class="item_ilc_tag">
                            <span class="badge badge-info">お酒タグ１</span>
                            <span class="badge badge-info">お酒タグ２</span>
                            <span class="badge badge-info">お酒タグ3</span>
                            <span class="badge badge-info">よなよなエール</span>
                            <span class="badge badge-info">Heineken</span>
                            <span class="badge badge-info">すぷもーに</span>
                        </div>
                        <div class="item_shop_des">
                            <div>お店説明文お店説明文お店説明文お店説明文</div>
                        </div>
                    </div>
                </div>
                <hr>
                <!--　お店情報 ここまで -->
            </div>
        </div>
    </div>
</div>