/* top.html.erb の css設定 */
hr {
    margin: 0;
    border-top: 1px solid black;
}

ul {
    list-style: none;
    width: 100%;
}

.wrap {
    overflow-x: hidden;
    font-family: 'Noto Sans', sans-serif;
}

.footer {
    background-color: #D3D3D3;
    height: 15vw;
}

.logo_area {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.logo_area img {
    height: 40px;
}

.top_area {
    display: flex;
    flex-direction: column;
    background-image: url("/assets/top_image.png");
    height: 62vw;
    color: wheat;
}

.top_area_box {
    margin: 9vw 0 0 6vw;
}

.top_area_box_head {
    display: flex;
    align-items: flex-end;
    color: white;
}

.top_area_box_head_big {
    font-size: 30px;
}

.top_area_box_head_small {
    font-size: 24px;
}

.top_area_box_ex {
    font-size: 14px;
    color: white;
}

.top_area_box_middle {
    display: flex;
    margin-top: 28px;
    align-items: flex-end;
    color: #ffee58;
}

.top_area_box_middle_big {
    font-size: 68px;
}

.top_area_box_middle_small {
    font-size: 20px;
}

.top_area_box_bottom {
    font-size: 12px;
    margin: 10px 0 0 50px;
    color: white;
}

.sub_title {
    margin: 20px 0 0 10px;
    border-left: 7px solid #ffee58;
    line-height: 35px;
    font-size: 5vw;
}

.sub_title b{
    margin-left: 10px;
}

.contentList {
    display: flex;
    align-items: center; /* 縦方向中央揃え */
    justify-content: center; /* 横方向中央揃え */
    width: 90%;
    margin: 16px;
}

.contentList_box {
    margin: 10px 0;
    border: 1px solid;
    border-color: gray;
    border-radius: 10px;
    box-shadow: 0px 2px 3px grey;
    height: 100%;
}

.contentList_image img {
    border: 1px solid;
    border-color: gray;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
}

.contentList_inside {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
}

.contentList_inside_box {
    width: 100%;
}

.contentList_inside_icon {
    margin: 4%;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.contentList_inside_column {
    display: flex;
    flex-direction: column;
    width: 52%;
    letter-spacing: 0.5px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.contentList_inside_column div {
    margin: 5px 0 ;
}

.contentList_inside_column b {
    margin-left: 5px;
}

.contentList_inside_name {
    font-size: 5vw;
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contentList_inside_row {
    display: flex;
}

.contentList_inside_column {
    font-size: 3vw;
}

.contentList_inside_column__average span {
    font-size: 1.5em;
}

.contentList_inside_row_price {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-top: 10px;
    width: 40%;
}

.contentList_inside_row_price b {
    color: red;
    font-size: 8vw;
}

.walk_fa_size {
    font-size: 1.5em;
}

.ave_fa_size {
    font-size: 1.2em;
}

/* show.html.erb css */

.show_title {
    display: flex;
    margin: 18px 0 10px 15px;
    font-size: 18px;
}

.show_hr {
    position: relative;
    left: 15px;
    width: 90%;
    border-top: 1px solid gray;
}

/*slick setting*/

.slider {
    margin: 20px auto;
    width: 100%;
}

.slider div {
    display: flex;
    align-items: center;
}

.slider img {
    margin: 0 auto;
    max-height: 250px;
    width: 90%;
    object-fit: cover;
}

.slick-prev:before,
.slick-next:before {
    color: #000;
}

.show_contentList {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.show_contentList_box {
    flex-direction: column;
    margin: 16px;
}

.show_contentList_box_beer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.5vw;
}

.show_contentList_box_beer_text {
    font-size: 25px;
    margin-right: 30px;
}

.show_contentList_box_beer_price {
    font-size: 48px;
    color: red;
}

.show_contentList_box_beer_price_small {
    font-size: 0.8em;
}

.show_contentList_box_info {
    margin: 20px 0 0 20px;
}

.show_contentList_box_info div {
    margin-bottom: 10px;
}

.show_contentList_box_info_dis {
    margin-left: 20px;
}

.show_contentList_box_info_ave {
    margin-left: 20px;
}

.show_contentList_box_items {
    margin-top: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.show_contentList_box_items div { 
    display: flex;
    border: 1px solid;
    border-color: gray;
    border-radius: 10px;
    width: 140px;
    height: 35px;
    align-items: center;
    justify-content: center;
}

.show_contentList_box_items_map {
    margin-right: 20px;
}

.show_contentList_box_items_map img {
    margin-left: 45px;
}

.show_contentList_box_items_map span {
    margin-left: 30px;
}

.show_contentList_box_items_grnb {
    margin-left: 20px;
}

.show_contentList_box_items_grnb img {
    height: 28px;
    margin-left: 45px;
}

.show_contentList_box_items_grnb span {
    margin-left: 35px;
}

.ad_space {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 40vw;
    background-color: gray;
    margin-top: 18px;
}

.show_menuList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
}

.show_menuList_box {
    margin: 16px;
    width: 90%;
}

.show_menuList_item {
    display: flex;
    flex-direction: column;
}

.show_menuList_item_beer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.show_menuList_item_beer div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13vw;
}

.show_menuList_item_beer_name {
    background-color: rgb(232, 232, 232);
    border: 1px solid rgb(215, 215, 215);
    width: 35%;
}

.show_menuList_item_beer_bool {
    border: 1px solid rgb(215, 215, 215);
    width: 65%;
}

.show_backtoPage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vw;
}

.show_backtoPage_item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 50%;
    height: 45%;
    border-radius: 35px;
}